* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Navigation Container */
.navbar {
    padding: 16px 48px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    align-content: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "logo . navigation"
}

/* Logo */
#logo {
    grid-area: logo;
}

#logo-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.6em;
}

#logo-link .pink {
    color: #f90550;
}

/* Navigation */
#navigation {
    grid-area: navigation;
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 24px;
    align-content: center;
    z-index: 2;
}

.nav-links {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1em;
}

.nav-links:hover {
    color: #f90550;
}

/* Main Content Container */

.main-container {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr;
    grid-template-areas: "one two";
    align-content: center;
}

/* Content */
.content {
    grid-area: one;
    display: grid;
    align-content: center;
    padding: 48px;
}

.intro {
    font-size: 5.4em;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.intro span {
    color: #f90550;
    font-family: 'Roboto Slab', serif;
}

.description {
    margin: 16px 0px;
    font-size: 1.2em;
}

.cta-kyc {
    padding: 8px 0px;
    margin: 16px 0px;
}

.cta-link {
    background-color: #f90550;
    padding: 10px 16px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 16px;
    text-transform: capitalize;
}

.cta-link:hover {
    background-color: black;
}

.cta-social {
    margin: 16px 0px;
}

.socials-link {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 8px;
    border: 2.4px solid black;
    border-radius: 8px;
    font-size: 1.2em;
    margin-right: 16px;
}

.socials-link:hover {
    color: #f90550;
    border-color: #f90550;
}

/* Photo */
#my-photo {
    grid-area: two;
    background-image: url('../img/man-with-happy-expression.jpg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 8px;
}